**/.git
**/.idea
**/.vscode
**/node_modules
**/vendor
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/storage/app/public
