services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - app-code:/var/www/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  web:
    image: nginx:1.25-alpine
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - app-code:/var/www/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

  db:
    image: postgres:16.2
    environment:
      POSTGRES_DB: gestion_activos_prod
      POSTGRES_USER: gestion_activos
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gestion_activos -d gestion_activos_prod"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

volumes:
  db-data:
  app-code:

networks:
  app-network:
    driver: bridge
